.rinput {
  margin-bottom: 20px;
  color: #a0a0a0;
  font-size: 30px;
  border: 1px solid #b1b1b1;
  padding: 15px 20px;
  border-radius: 10px;
}

.pickercontent {
  margin-bottom: 20px;
  color: #a0a0a0;
  font-size: 30px;
  border: 1px solid #b1b1b1;
  padding: 15px 20px;
  border-radius: 10px;
}
